*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #1e293b;
  color: #ffffff;
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #00bcd4;
}
